version: '3.8'

services:
  questdb:
    build:
      context: ./questdb
      dockerfile: Dockerfile
    container_name: questdb
    volumes:
      - "./files/questdb-data:/var/lib/questdb"
    environment:
      # JVM
      - QDB_JAVA_OPTS=-Xms2G -Xmx6G -XX:+UseG1GC
      
      # HTTP
      - QDB_HTTP_ENABLED=true
      - QDB_HTTP_BIND_TO=0.0.0.0:9000
      - QDB_HTTP_NET_CONNECTION_LIMIT=32
      - QDB_HTTP_SECURITY_READONLY=false
      - QDB_HTTP_MIN_ENABLED=false
      - QDB_HTTP_RECEIVE_BUFFER_SIZE=512K
      
      # PostgreSQL
      - QDB_PG_ENABLED=false
      
      # InfluxDB Line Protocol
      - QDB_LINE_TCP_ENABLED=true
      - QDB_LINE_TCP_BIND_TO=0.0.0.0:9009
      - QDB_LINE_HTTP_ENABLED=true
      
      # CPU
      - QDB_SHARED_WORKER_COUNT=2
      - QDB_HTTP_WORKER_COUNT=2
      
      # Memory
      - QDB_CAIRO_PAGE_FRAME_COUNT=1024
      - QDB_CAIRO_PAGE_FRAME_SIZE=64k
      - QDB_CAIRO_O3_COLUMN_MEMORY_SIZE=2M
      - QDB_CAIRO_SQL_MAP_PAGE_SIZE=2M
      
      # Write
      - QDB_CAIRO_WRITER_DATA_APPEND_PAGE_SIZE=1M
      - QDB_CAIRO_MAX_UNCOMMITTED_ROWS=250000
      - QDB_CAIRO_COMMIT_LAG=10000
      
      # Query
      - QDB_CAIRO_SQL_QUERY_TIMEOUT=30000
      
      # Logging
      - QDB_LOG_W_LEVEL=CRITICAL
      - QDB_LOG_W_FILE_LOCATION=stdout
      
      # Telemetry
      - QDB_TELEMETRY_ENABLED=false
      - QDB_METRICS_ENABLED=false
    networks:
      - telemetra-network
    restart: unless-stopped

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: telemetra-server
    depends_on:
      - questdb
    networks:
      - telemetra-network
    restart: unless-stopped

networks:
  telemetra-network:
    driver: bridge
    internal: true

