@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f5f5f5;
  --drawer: #f3f3f3;
  --dotted: #b8b8b8;
  --primary: #000000;
  --foreground: #4a4c52;
  --border: #d9d9d9;
  --scrollbar: #a7a7a7;

  --main: oklch(0.97 0 0);
  --main-secondary: oklch(97% 0 0);
  --main-foreground: oklch(0.925 0 0);
  --main-muted: oklch(0.96 0 0);
  --main-background: oklch(0.97 0 0);
  --main-invert: oklch(0.205 0 0);

  --primary-luxe: oklch(0 0 0);
  --primary-invert: oklch(1 0 0);
  --primary-foreground-luxe: oklch(37.1% 0 0);
  --primary-muted: oklch(0.556 0 0);

  --border-luxe: oklch(0.885 0 0);
}

.dark {
  --background: #0a0a0a;
  --drawer: #0c0c0c;
  --dotted: #292929;
  --primary: #ffffff;
  --foreground: #b5b3ad;
  --border: #262626;
  --scrollbar: #262626;

  --main: oklch(0.178 0 0);
  --main-secondary: oklch(0.205 0 0);
  --main-foreground: oklch(0.269 0 0);
  --main-muted: oklch(0.168 0 0);
  --main-background: oklch(0.145 0 0);
  --main-invert: oklch(0.8 0 0);

  --primary-luxe: oklch(1 0 0);
  --primary-invert: oklch(0 0 0);
  --primary-foreground-luxe: oklch(0.97 0 0);
  --primary-muted: oklch(0.708 0 0);

  --border-luxe: oklch(0.26 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-background-muted: #0d0d0d;
  --color-drawer: var(--drawer);
  --color-secondary: #c2c2c2;
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-muted: #0a0a0a;
  --color-border: var(--border);

  --color-main: var(--main);
  --color-main-secondary: var(--main-secondary);
  --color-main-foreground: var(--main-foreground);
  --color-main-muted: var(--main-muted);
  --color-main-background: var(--main-background);
  --color-main-invert: var(--main-invert);

  --color-primary-luxe: var(--primary-luxe);
  --color-primary-foreground-luxe: var(--primary-foreground-luxe);
  --color-primary-muted: var(--primary-muted);
  --color-primary-invert: var(--primary-invert);

  --color-border-luxe: var(--border-luxe);

  --font-sans: var(--font-clash-display);
  --font-mono: var(--font-clash-display);

  --animate-spotlight: spotlight 2s ease 1 forwards;
  --animate-shine: shine 6s linear infinite;
  --animate-text-gradient: text-gradient 2s linear infinite;
  --animate-text-shake: text-shake 1s ease 1;
  --animate-brightness: brightness 2.2s linear infinite;
  --animate-spinner: spinner 1.2s linear infinite;
  --animate-accordion-open: accordion-open 0.2s ease-out;
  --animate-accordion-close: accordion-close 0.2s ease-out;

  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -40%) scale(1);
    }
  }

  @keyframes accordion-open {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-close {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes shine {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -400% 0;
    }
  }

  @keyframes text-gradient {
    to {
      background-position: 200% center;
    }
  }

  @keyframes text-shake {
    15% {
      transform: translateX(5px);
    }
    30% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(3px);
    }
    80% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes brightness {
    0% {
      transform: skew(-13deg) translateX(-100%);
    }
    100% {
      transform: skew(-13deg) translateX(100%);
    }
  }

  @keyframes spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.15;
    }
  }
}

@layer base {
  * {
    font-family: var(--font-clash-display), system-ui, sans-serif;
  }

  img,
  button {
    @apply select-none;
  }

  ::selection {
    @apply bg-neutral-400/20;
  }

  .bottom-dotted {
    @apply [@media(min-width:663px)]:[background-image:linear-gradient(90deg,var(--dotted)_25%,transparent_25%)] [@media(min-width:663px)]:[background-repeat:repeat-x] [@media(min-width:663px)]:[background-size:4px_1px] [@media(min-width:663px)]:[background-position:bottom];
  }

  .horizontal-dotted {
    @apply [@media(min-width:1313px)]:[background-image:linear-gradient(0deg,var(--dotted)_25%,transparent_25%),linear-gradient(0deg,var(--dotted)_25%,transparent_25%)]
		[@media(min-width:1313px)]:[background-position:left,right]
		[@media(min-width:1313px)]:[background-repeat:repeat-y,repeat-y]
		[@media(min-width:1313px)]:[background-size:1px_4px,1px_4px];
  }

  .right-dotted {
    @apply [background-image:linear-gradient(0deg,var(--dotted)_25%,transparent_25%)] [background-position:100%] [background-repeat:repeat-y] [background-size:1px_4px];
  }

  button {
    @apply cursor-pointer;
  }
}

* {
  font-variant-ligatures: none;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;

  pre {
    overflow-x: auto;
    font-size: 14px;

    code {
      font-family: var(--font-clash-display);
    }

    [data-line] {
      margin-top: 0 !important;
    }
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  font-feature-settings: normal;
  font-variation-settings: normal;

  code,
  code span {
    color: var(--shiki-light);
  }

  &.dark {
    code,
    code span {
      color: var(--shiki-dark);
    }
  }
}

.shiki {
  background-color: transparent !important;
  font-size: 14px;
  border: 1px solid transparent;

  &:focus-visible {
    border-color: var(--border);
    outline: none;
  }
}

.text-gradient {
  background: linear-gradient(
    to right bottom,
    var(--primary) 30%,
    color-mix(in srgb, var(--primary) 50%, transparent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: unset;
}
